<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>玉树临风美少年，揽镜自顾夜不眠 </title>
  <script src="./vue.js"></script>
  <style type="text/css">
    .cls1 {
      color: green;
    }

    .cls2{
      background-color: yellow;
    }
  </style>
</head>

<body>
  <div id="app">
    <!-- 兴趣:
    <input type="checkbox" v-model="msg" value="play" /> 玩
    <input type="checkbox" v-model="msg" value="eat" /> 吃 -->
    <ul>
      <li v-for="(value,key,index) in obj" :key="index">
        {{key}}-----{{value}}----{{index}}
      </li>
      <p class="cls1" :class="myCls">这是一个p</p>
    </ul>

    <hr>
    <input type="text" v-model="msg" />
    <p>{{msg2}}</p>
  </div>

  <script type="text/javascript">
    const vm = new Vue({
      el: '#app',
      data: {
        // msg:['play','eat']
        obj: {
          name: '小明',
          age: 18
        },
        myCls: 'cls2',
        msg:'Hello'
      },
      computed: {
        msg2(){
          return this.msg.toUpperCase()
        }
      }
    })
  </script>
</body>

</html>